---
apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources: {{ encrypt_etcd_at_rest_encrypted_resources  }}
    providers:
        {{ encrypt_etcd_at_rest_encryption_providers }}
