---
apiVersion: "kubeadm.k8s.io/v1beta4"
kind: InitConfiguration
nodeRegistration:
    name: "{{ setup_etcd_cluster_etcd_names[idx] }}"
localAPIEndpoint:
    advertiseAddress: "{{ setup_etcd_cluster_etcd_hosts[idx] }}"
---
apiVersion: "kubeadm.k8s.io/v1beta4"
kind: ClusterConfiguration
etcd:
    local:
        serverCertSANs:
        - "{{ setup_etcd_cluster_etcd_hosts[idx] }}"
        peerCertSANs:
        - "{{ setup_etcd_cluster_etcd_hosts[idx] }}"
        extraArgs:
        - name: initial-cluster
          value: {{ ''}} {%- for host in groups['etcd_nodes'] -%}
                   {{ hostvars[host].inventory_hostname }}=https://{{ hostvars[host].ansible_host }}:2380{% if not loop.last %},{% endif %}
                 {%- endfor -%}
                 {{ '' }}
        - name: initial-cluster-state
          value: new
        - name: name
          value: "{{ setup_etcd_cluster_etcd_names[idx] }}"
        - name: listen-peer-urls
          value: "https://{{ setup_etcd_cluster_etcd_hosts[idx] }}:2380"
        - name: listen-client-urls
          value: "https://{{ setup_etcd_cluster_etcd_hosts[idx] }}:2379"
        - name: advertise-client-urls
          value: "https://{{ setup_etcd_cluster_etcd_hosts[idx] }}:2379"
        - name: initial-advertise-peer-urls
          value: "https://{{ setup_etcd_cluster_etcd_hosts[idx] }}:2380"

