---
apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration

discovery:
  bootstrapToken:
    token: "{{ join_worker_join_token }}"
    apiServerEndpoint: "{{ join_worker_api_server_endpoint }}"
    caCertHashes:
      - "{{ join_worker_ca_cert_hash }}"

nodeRegistration:
  kubeletExtraArgs:
    - name: node-ip
      value: {{ ansible_host }}

networking:
  podSubnet: "{{ init_cluster_pod_network_cidr }}"
  serviceSubnet: "{{ init_cluster_service_network_cidr }}"

apiServer:
  certSANs: {{ init_cluster_apiserver_cert_extra_sans | safe | replace('\'', '\"') }}
  extraArgs:
    - name: bind-address
      value: "0.0.0.0"

controllerManager:
  extraArgs:
    - name: bind-address
      value: "0.0.0.0"

scheduler:
  extraArgs:
    - name: bind-address
      value: "0.0.0.0"

